 <h1><%= Comment.model_name.human %></h1>
  <% commentable.comments.each do |comment| %>
    <p><%= comment.content %></p>
    <p><%= comment.created_at %></p>
    <p><%= user.find(comment.user_id).name %></p>
    <p><%= user.find(comment.user_id).email %></p>
  <% end %>

  <%= form_with(model: [commentable, Comment.new], local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

