<table>
  <thead>
  <tr>
    <th></th>
    <th><%= User.human_attribute_name(:email) %></th>
    <th><%= User.human_attribute_name(:name) %></th>
    <th><%= User.human_attribute_name(:postal_code) %></th>
    <th><%= User.human_attribute_name(:address) %></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user|%>
    <tr>
      <td><%= image_tag user.avatar.variant(resize_to_fill: [30, 30])%></td>
      <td><%= user.email %></td>
      <td><%= user.name %></td>
      <td><%= user.postal_code %></td>
      <td><%= user.address %></td>
    </tr>
  <% end %>
  </tbody>

  <tfoot>
  <tr>
    <td colspan="5"><%= link_to t('views.common.back'), user_path(@user) %></td>
  </tr>
  </tfoot>
</table>